body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

table {
  margin: 30px;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #eee;
  min-width: 50px;
  padding: 2px 4px;
}

.grid{
  margin: 30px;
  
}
.th,.td{
  border: 1px solid #eee;
  min-width: 50px;
  padding: 2px 4px;
}
.th{
  font-weight: 500;
  font-size: 2em;
}
